/* ************************************************************************ */
/* Body */
/* ************************************************************************ */
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}


/* ************************************************************************ */
/* Navigation Bar */
/* ************************************************************************ */

navbar {
    margin-bottom: 40em;
}

.navbar__ul {
    float: right;
}

.navbar__li {
    list-style-type: none;
    margin: 0 1em;
    font-size: 0.75em;
    color: #272727;
    float: left;
}

.navbar__icon--app {
    background-position: -132px -38px;
    background-image: url('img/sprite-i1_1967ca6a.png');
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    position: relative;
    top: -0.8em;
}

.navbar__button--cta {
    background-color: #4583eb;
    border-radius: 0.1em;
    padding: 0.75em 1.25em;
    color: white;
    font-weight: bold;
    position: relative;
    top: -0.8em;
}


/* ************************************************************************ */
/* Main Content */
/* ************************************************************************ */
#main-content {
    margin: 4em auto;
    text-align: center;
}

.main-content__icon-magnifyingglass {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    z-index: 9;
    left: 2.5em;
    top: 0.5em;
    float:
}

.main-content__searchbar {
    width: 30%;
    padding: 1em;
    border-radius: 4em;
    border: 1px solid #dfe1e5;
    margin-bottom: 2em;
}

.main-content__button {
    margin-bottom: 2.5em;
    color: #5f6368;
    font-size: 0.75em;
    background-color: #f1f1f1;
    border: 1px solid transparent;
    padding: 0.8em 1.7em;
    border-radius: 0.25em;
}

.main-content__button:hover {
    border: 1px solid #c6c6c6;
    color: #222;
    background-color: #f3f3f3;
    cursor: pointer
}

.main-content__caption {
    color: #222;
    font-size: 0.75em;
}

/* ************************************************************************ */
/* Footer */
/* ************************************************************************ */
footer {
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 0.8em;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer__country {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.5em 2em;
    margin: 0;
}

.footer__li {
    list-style-type: none;
    float: left;
    padding: 0.7em 1.1em;
}

.footer__li:first-child {
    padding-left: 2em;
}

.footer__business {
    float: left;
    margin: 0;
    padding-left: 0;
}

.footer__terms-and-conditions {
    float: right;
    margin: 0;
}